<%- include('partials/header'); -%>

<div class="container mb-5">

  <h2 class="big-heading section-heading">About This Project</h2>

  <h4 class="mb-3 text-start">In this full stack web project, I've created a Travel Blog.</h4>
  <h4 class="mb-3 text-start">The blog posts are stored in database and fetched from there whenever is needed.</h4>
  <h4 class="mb-5 text-start">The things that I've applied in this project are:</h4>

  <h4 class="text-start" style="color:#694E4E;">For the frond-end part:</h4>
  <ol class="list-group list-group-numbered mb-5">
    <li class="list-group-item">I've used Bootstrap 5 for most of the design.</li>
    <li class="list-group-item">Whenever Bootstrap is insufficient I've applied basic HTML and CSS.</li>
    <li class="list-group-item">I've made a responsive design for all viewports.</li>
  </ol>

  <h4 class="text-start" style="color:#694E4E;">For the back-end part:</h4>
  <ol class="list-group list-group-numbered mb-5">
    <li class="list-group-item">I've used Node JS and Express framework for the server side.</li>
    <li class="list-group-item">To render JS codes for the dynamic data in the client-side, I've used EJS (Embedded Javascript)</li>
    <li class="list-group-item">To store the blog posts, I've used Mongo DB Atlas.</li>
    <li class="list-group-item">To make CRUD operations on database, I've used Mongoose module of NPM</li>
    <li class="list-group-item">I've applied pagination for displaying post-cards</li>
    <li class="list-group-item">I've applied my own Restful API.</li>
  </ol>

</div>

<%- include('partials/footer'); -%>
