<%- include('partials/header'); -%>

<div class="container mb-5">

  <h2 class="big-heading section-heading">ERROR</h2>

  <h5>An Unexpected Error Happened! Try Again Later</h5>

  <p><%= errorMessage %></p>

</div>

<%- include('partials/footer'); -%>
